node_modules
.vscode
/dist
/build

.temp
.temp

.env
.env.local
.env.*.local

.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
*.sublime-project
*.sublime-workspace
coverage
.cache 

.vscode
*.tsbuildinfo