venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyd
*.sqlite3
instance
.env
*.log
*.pot
*.mo
*.db
*.sqlite
.DS_Store
.idea
.vscode
node_modules
dist
coverage
htmlcov
.tox
.nox
.pytest_cache
.coverage
.coverage.*
.cache
.pyre/
.mypy_cache
.dmypy.json
.pytype/
*.pkl